/* NoLogin.css */
.noLogin-no-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle lift */
}

.noLoginFlex {
    display: flex;
    align-items: center;
}

.vertical-line {
    height: 50px;
    border-left: 2px solid #333;
    margin: 0 20px;
}

.institute-details {
    text-align: center;
}

.noLogin-container {
    background-color: #fff; /* Set your preferred background color */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.noLogin-header {
    color: #333;
    margin-top: 20px;
}

.noLogin-message {
    color: #666;
    margin: 10px 0;
}

.noLogin-login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Add more styling as needed */
