.admin.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set your desired background color */
}

.admin.signin {
    display: flex;
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.admin.logo {
    padding: 20px;
    text-align: center;
}

.admin.logo img {
    max-width: 100px; /* Set the maximum width for your logo */
}

.admin.logo-text {
    margin-top: 10px;
}

.admin.lineVertical {
    border-right: 2px solid #ccc; /* Set the color for the vertical line */
}

.admin.line {
    height: 100%;
    width: 2px;
    background-color: #ccc; /* Set the color for the line */
}

.admin.content {
    padding: 20px;
}

.admin h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.admin.form {
    max-width: 300px; /* Set the maximum width for your form */
    margin: 0 auto;
}

.admin inputBox {
    margin-bottom: 20px;
}

.admin input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.admin i {
    pointer-events: none;
    padding: 10px;
    transition: 0.3s;
}

.admin input:focus + i {
    transform: translateY(-25px);
    font-size: 12px;
    color: #007bff; /* Set the color for the focus state */
}

.admin links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.admin links button {
    background-color: #f0f0f0; /* Set the background color for the button */
    border: none;
    cursor: pointer;
}

.admin links a {
    text-decoration: none;
    color: #007bff; /* Set the color for the link */
}

.admin input[type="submit"] {
    background-color: #007bff; /* Set the background color for the submit button */
    color: #fff; /* Set the text color for the submit button */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.admin input[type="submit"]:hover {
    background-color: #0056b3; /* Set the background color for the submit button on hover */
}

.adminLogout button{
    background-color: tomato;
    color: black;
}
